#### Pyspark handling missing values
- Dropping columns
- Dropping rows
- Various parameter in dropping functionalities
- Handling missing values by mean, median, and mode

In [4]:
from pyspark.sql import SparkSession 
스파크 = SparkSession.builder.appName('Missing').getOrCreate()
스파크.conf.set("spark.sql.execution.arrow.enabled", "true")#메모리 문제 해결

In [5]:
스파크DF = 스파크.read.csv("hdfs://localhost:9000/Spark/Employee_missing.csv", header=True, encoding="cp949", inferSchema=True) # 스파크 폴더안에 있는 데이터를 가져옴 
스파크DF.show()

+----+------+----+------+-------+--------+-------+-------+--------+
|  id|gender|educ|jobcat| salary|salbegin|jobtime|prevexp|minority|
+----+------+----+------+-------+--------+-------+-------+--------+
|null|  남성|  12|  null|   null|    null|   null|   null|    null|
|   0|  null|null|사무직|60000.0|    null|     95|   null|     YES|
|null|  null|null|  null|   null|    null|   null|   null|    null|
|   1|  남성|  15|경영자|57000.0|   27000|     98|    144|      No|
|   2|  남성|  16|사무직|40200.0|   18750|     98|     36|      No|
|   3|  여성|  12|사무직|21450.0|   12000|     98|    381|      No|
|   4|  여성|   8|사무직|21900.0|   13200|     98|    190|      No|
|   5|  남성|  15|사무직|45000.0|   21000|     98|    138|      No|
|   6|  남성|  15|사무직|32100.0|   13500|     98|     67|      No|
|   7|  남성|  15|사무직|36000.0|   18750|     98|    114|      No|
|   8|  여성|  12|사무직|21900.0|    9750|     98|      0|      No|
|   9|  여성|  15|사무직|27900.0|   12750|     98|    115|      No|
|  10|  여성|  12|사무직|24000.0|   13500|     98|    244|      No|
|  11|  여성|  16|사무직|30300.0|   16500|     98|    143|      No|
|  12|  남성|   8|사무직|28350.0|   12000|     98|     26|     Yes|
|  13|  남성|  15|사무직|27750.0|   14250|     98|     34|     Yes|
|  14|  여성|  15|사무직|35100.0|   16800|     98|    137|     Yes|
|  15|  남성|  12|사무직|27300.0|   13500|     97|     66|      No|
|  16|  남성|  12|사무직|40800.0|   15000|     97|     24|      No|
|  17|  남성|  15|사무직|46000.0|   14250|     97|     48|      No|
+----+------+----+------+-------+--------+-------+-------+--------+
only showing top 20 rows

In [6]:
### drop the columns
스파크DF.drop('id').show() ##id 칼럼을 제거

+------+----+------+-------+--------+-------+-------+--------+
|gender|educ|jobcat| salary|salbegin|jobtime|prevexp|minority|
+------+----+------+-------+--------+-------+-------+--------+
|  남성|  12|  null|   null|    null|   null|   null|    null|
|  null|null|사무직|60000.0|    null|     95|   null|     YES|
|  null|null|  null|   null|    null|   null|   null|    null|
|  남성|  15|경영자|57000.0|   27000|     98|    144|      No|
|  남성|  16|사무직|40200.0|   18750|     98|     36|      No|
|  여성|  12|사무직|21450.0|   12000|     98|    381|      No|
|  여성|   8|사무직|21900.0|   13200|     98|    190|      No|
|  남성|  15|사무직|45000.0|   21000|     98|    138|      No|
|  남성|  15|사무직|32100.0|   13500|     98|     67|      No|
|  남성|  15|사무직|36000.0|   18750|     98|    114|      No|
|  여성|  12|사무직|21900.0|    9750|     98|      0|      No|
|  여성|  15|사무직|27900.0|   12750|     98|    115|      No|
|  여성|  12|사무직|24000.0|   13500|     98|    244|      No|
|  여성|  16|사무직|30300.0|   16500|     98|    143|      No|
|  남성|   8|사무직|28350.0|   12000|     98|     26|     Yes|
|  남성|  15|사무직|27750.0|   14250|     98|     34|     Yes|
|  여성|  15|사무직|35100.0|   16800|     98|    137|     Yes|
|  남성|  12|사무직|27300.0|   13500|     97|     66|      No|
|  남성|  12|사무직|40800.0|   15000|     97|     24|      No|
|  남성|  15|사무직|46000.0|   14250|     97|     48|      No|
+------+----+------+-------+--------+-------+-------+--------+
only showing top 20 rows

#### 결측값처리
- 행 삭제
  - DataFrame.dropna([how,thresh,subset])
  - DataFrame.na.drop()
  - default:how=any
- 대체
  - DataFrame.fillna(Value,[,subset])
  - DataFrame.na.fill()
  - pyspark.ml.feature.Imputer()

In [8]:
### drop the rows
스파크DF.na.drop().show()
스파크DF.dropna().show()

+---+------+----+------+--------+--------+-------+-------+--------+
| id|gender|educ|jobcat|  salary|salbegin|jobtime|prevexp|minority|
+---+------+----+------+--------+--------+-------+-------+--------+
|  1|  남성|  15|경영자| 57000.0|   27000|     98|    144|      No|
|  2|  남성|  16|사무직| 40200.0|   18750|     98|     36|      No|
|  3|  여성|  12|사무직| 21450.0|   12000|     98|    381|      No|
|  4|  여성|   8|사무직| 21900.0|   13200|     98|    190|      No|
|  5|  남성|  15|사무직| 45000.0|   21000|     98|    138|      No|
|  6|  남성|  15|사무직| 32100.0|   13500|     98|     67|      No|
|  7|  남성|  15|사무직| 36000.0|   18750|     98|    114|      No|
|  8|  여성|  12|사무직| 21900.0|    9750|     98|      0|      No|
|  9|  여성|  15|사무직| 27900.0|   12750|     98|    115|      No|
| 10|  여성|  12|사무직| 24000.0|   13500|     98|    244|      No|
| 11|  여성|  16|사무직| 30300.0|   16500|     98|    143|      No|
| 12|  남성|   8|사무직| 28350.0|   12000|     98|     26|     Yes|
| 13|  남성|  15|사무직| 27750.0|   14250|     98|     34|     Yes|
| 14|  여성|  15|사무직| 35100.0|   16800|     98|    137|     Yes|
| 15|  남성|  12|사무직| 27300.0|   13500|     97|     66|      No|
| 16|  남성|  12|사무직| 40800.0|   15000|     97|     24|      No|
| 17|  남성|  15|사무직| 46000.0|   14250|     97|     48|      No|
| 18|  남성|  16|경영자|103750.0|   27510|     97|     70|      No|
| 19|  남성|  12|사무직| 42300.0|   14250|     97|    103|      No|
| 20|  여성|  12|사무직| 26250.0|   11550|     97|     48|      No|
+---+------+----+------+--------+--------+-------+-------+--------+
only showing top 20 rows

+---+------+----+------+--------+--------+-------+-------+--------+
| id|gender|educ|jobcat|  salary|salbegin|jobtime|prevexp|minority|
+---+------+----+------+--------+--------+-------+-------+--------+
|  1|  남성|  15|경영자| 57000.0|   27000|     98|    144|      No|
|  2|  남성|  16|사무직| 40200.0|   18750|     98|     36|      No|
|  3|  여성|  12|사무직| 21450.0|   12000|     98|    381|      No|
|  4|  여성|   8|사무직| 21900.0|   13200|     98|    190|      No|
|  5|  남성|  15|사무직| 45000.0|   21000|     98|    138|      No|
|  6|  남성|  15|사무직| 32100.0|   13500|     98|     67|      No|
|  7|  남성|  15|사무직| 36000.0|   18750|     98|    114|      No|
|  8|  여성|  12|사무직| 21900.0|    9750|     98|      0|      No|
|  9|  여성|  15|사무직| 27900.0|   12750|     98|    115|      No|
| 10|  여성|  12|사무직| 24000.0|   13500|     98|    244|      No|
| 11|  여성|  16|사무직| 30300.0|   16500|     98|    143|      No|
| 12|  남성|   8|사무직| 28350.0|   12000|     98|     26|     Yes|
| 13|  남성|  15|사무직| 27750.0|   14250|     98|     34|     Yes|
| 14|  여성|  15|사무직| 35100.0|   16800|     98|    137|     Yes|
| 15|  남성|  12|사무직| 27300.0|   13500|     97|     66|      No|
| 16|  남성|  12|사무직| 40800.0|   15000|     97|     24|      No|
| 17|  남성|  15|사무직| 46000.0|   14250|     97|     48|      No|
| 18|  남성|  16|경영자|103750.0|   27510|     97|     70|      No|
| 19|  남성|  12|사무직| 42300.0|   14250|     97|    103|      No|
| 20|  여성|  12|사무직| 26250.0|   11550|     97|     48|      No|
+---+------+----+------+--------+--------+-------+-------+--------+
only showing top 20 rows

In [9]:
스파크DF.na.drop(how='all').show()
스파크DF.dropna(how='all').show()

+----+------+----+------+--------+--------+-------+-------+--------+
|  id|gender|educ|jobcat|  salary|salbegin|jobtime|prevexp|minority|
+----+------+----+------+--------+--------+-------+-------+--------+
|null|  남성|  12|  null|    null|    null|   null|   null|    null|
|   0|  null|null|사무직| 60000.0|    null|     95|   null|     YES|
|   1|  남성|  15|경영자| 57000.0|   27000|     98|    144|      No|
|   2|  남성|  16|사무직| 40200.0|   18750|     98|     36|      No|
|   3|  여성|  12|사무직| 21450.0|   12000|     98|    381|      No|
|   4|  여성|   8|사무직| 21900.0|   13200|     98|    190|      No|
|   5|  남성|  15|사무직| 45000.0|   21000|     98|    138|      No|
|   6|  남성|  15|사무직| 32100.0|   13500|     98|     67|      No|
|   7|  남성|  15|사무직| 36000.0|   18750|     98|    114|      No|
|   8|  여성|  12|사무직| 21900.0|    9750|     98|      0|      No|
|   9|  여성|  15|사무직| 27900.0|   12750|     98|    115|      No|
|  10|  여성|  12|사무직| 24000.0|   13500|     98|    244|      No|
|  11|  여성|  16|사무직| 30300.0|   16500|     98|    143|      No|
|  12|  남성|   8|사무직| 28350.0|   12000|     98|     26|     Yes|
|  13|  남성|  15|사무직| 27750.0|   14250|     98|     34|     Yes|
|  14|  여성|  15|사무직| 35100.0|   16800|     98|    137|     Yes|
|  15|  남성|  12|사무직| 27300.0|   13500|     97|     66|      No|
|  16|  남성|  12|사무직| 40800.0|   15000|     97|     24|      No|
|  17|  남성|  15|사무직| 46000.0|   14250|     97|     48|      No|
|  18|  남성|  16|경영자|103750.0|   27510|     97|     70|      No|
+----+------+----+------+--------+--------+-------+-------+--------+
only showing top 20 rows

+----+------+----+------+--------+--------+-------+-------+--------+
|  id|gender|educ|jobcat|  salary|salbegin|jobtime|prevexp|minority|
+----+------+----+------+--------+--------+-------+-------+--------+
|null|  남성|  12|  null|    null|    null|   null|   null|    null|
|   0|  null|null|사무직| 60000.0|    null|     95|   null|     YES|
|   1|  남성|  15|경영자| 57000.0|   27000|     98|    144|      No|
|   2|  남성|  16|사무직| 40200.0|   18750|     98|     36|      No|
|   3|  여성|  12|사무직| 21450.0|   12000|     98|    381|      No|
|   4|  여성|   8|사무직| 21900.0|   13200|     98|    190|      No|
|   5|  남성|  15|사무직| 45000.0|   21000|     98|    138|      No|
|   6|  남성|  15|사무직| 32100.0|   13500|     98|     67|      No|
|   7|  남성|  15|사무직| 36000.0|   18750|     98|    114|      No|
|   8|  여성|  12|사무직| 21900.0|    9750|     98|      0|      No|
|   9|  여성|  15|사무직| 27900.0|   12750|     98|    115|      No|
|  10|  여성|  12|사무직| 24000.0|   13500|     98|    244|      No|
|  11|  여성|  16|사무직| 30300.0|   16500|     98|    143|      No|
|  12|  남성|   8|사무직| 28350.0|   12000|     98|     26|     Yes|
|  13|  남성|  15|사무직| 27750.0|   14250|     98|     34|     Yes|
|  14|  여성|  15|사무직| 35100.0|   16800|     98|    137|     Yes|
|  15|  남성|  12|사무직| 27300.0|   13500|     97|     66|      No|
|  16|  남성|  12|사무직| 40800.0|   15000|     97|     24|      No|
|  17|  남성|  15|사무직| 46000.0|   14250|     97|     48|      No|
|  18|  남성|  16|경영자|103750.0|   27510|     97|     70|      No|
+----+------+----+------+--------+--------+-------+-------+--------+
only showing top 20 rows

In [10]:
### threshold - 예를들어 결측값이 아닌 데이터 개수가 2 미만이면 제거
스파크DF.na.drop(thresh=4).show()
스파크DF.dropna(thresh=2).show()

+---+------+----+------+--------+--------+-------+-------+--------+
| id|gender|educ|jobcat|  salary|salbegin|jobtime|prevexp|minority|
+---+------+----+------+--------+--------+-------+-------+--------+
|  0|  null|null|사무직| 60000.0|    null|     95|   null|     YES|
|  1|  남성|  15|경영자| 57000.0|   27000|     98|    144|      No|
|  2|  남성|  16|사무직| 40200.0|   18750|     98|     36|      No|
|  3|  여성|  12|사무직| 21450.0|   12000|     98|    381|      No|
|  4|  여성|   8|사무직| 21900.0|   13200|     98|    190|      No|
|  5|  남성|  15|사무직| 45000.0|   21000|     98|    138|      No|
|  6|  남성|  15|사무직| 32100.0|   13500|     98|     67|      No|
|  7|  남성|  15|사무직| 36000.0|   18750|     98|    114|      No|
|  8|  여성|  12|사무직| 21900.0|    9750|     98|      0|      No|
|  9|  여성|  15|사무직| 27900.0|   12750|     98|    115|      No|
| 10|  여성|  12|사무직| 24000.0|   13500|     98|    244|      No|
| 11|  여성|  16|사무직| 30300.0|   16500|     98|    143|      No|
| 12|  남성|   8|사무직| 28350.0|   12000|     98|     26|     Yes|
| 13|  남성|  15|사무직| 27750.0|   14250|     98|     34|     Yes|
| 14|  여성|  15|사무직| 35100.0|   16800|     98|    137|     Yes|
| 15|  남성|  12|사무직| 27300.0|   13500|     97|     66|      No|
| 16|  남성|  12|사무직| 40800.0|   15000|     97|     24|      No|
| 17|  남성|  15|사무직| 46000.0|   14250|     97|     48|      No|
| 18|  남성|  16|경영자|103750.0|   27510|     97|     70|      No|
| 19|  남성|  12|사무직| 42300.0|   14250|     97|    103|      No|
+---+------+----+------+--------+--------+-------+-------+--------+
only showing top 20 rows

+----+------+----+------+--------+--------+-------+-------+--------+
|  id|gender|educ|jobcat|  salary|salbegin|jobtime|prevexp|minority|
+----+------+----+------+--------+--------+-------+-------+--------+
|null|  남성|  12|  null|    null|    null|   null|   null|    null|
|   0|  null|null|사무직| 60000.0|    null|     95|   null|     YES|
|   1|  남성|  15|경영자| 57000.0|   27000|     98|    144|      No|
|   2|  남성|  16|사무직| 40200.0|   18750|     98|     36|      No|
|   3|  여성|  12|사무직| 21450.0|   12000|     98|    381|      No|
|   4|  여성|   8|사무직| 21900.0|   13200|     98|    190|      No|
|   5|  남성|  15|사무직| 45000.0|   21000|     98|    138|      No|
|   6|  남성|  15|사무직| 32100.0|   13500|     98|     67|      No|
|   7|  남성|  15|사무직| 36000.0|   18750|     98|    114|      No|
|   8|  여성|  12|사무직| 21900.0|    9750|     98|      0|      No|
|   9|  여성|  15|사무직| 27900.0|   12750|     98|    115|      No|
|  10|  여성|  12|사무직| 24000.0|   13500|     98|    244|      No|
|  11|  여성|  16|사무직| 30300.0|   16500|     98|    143|      No|
|  12|  남성|   8|사무직| 28350.0|   12000|     98|     26|     Yes|
|  13|  남성|  15|사무직| 27750.0|   14250|     98|     34|     Yes|
|  14|  여성|  15|사무직| 35100.0|   16800|     98|    137|     Yes|
|  15|  남성|  12|사무직| 27300.0|   13500|     97|     66|      No|
|  16|  남성|  12|사무직| 40800.0|   15000|     97|     24|      No|
|  17|  남성|  15|사무직| 46000.0|   14250|     97|     48|      No|
|  18|  남성|  16|경영자|103750.0|   27510|     97|     70|      No|
+----+------+----+------+--------+--------+-------+-------+--------+
only showing top 20 rows

In [11]:
### subset
스파크DF.na.drop(subset=['jobtime']).show()
스파크DF.dropna(subset=['jobtime']).show()

+---+------+----+------+--------+--------+-------+-------+--------+
| id|gender|educ|jobcat|  salary|salbegin|jobtime|prevexp|minority|
+---+------+----+------+--------+--------+-------+-------+--------+
|  0|  null|null|사무직| 60000.0|    null|     95|   null|     YES|
|  1|  남성|  15|경영자| 57000.0|   27000|     98|    144|      No|
|  2|  남성|  16|사무직| 40200.0|   18750|     98|     36|      No|
|  3|  여성|  12|사무직| 21450.0|   12000|     98|    381|      No|
|  4|  여성|   8|사무직| 21900.0|   13200|     98|    190|      No|
|  5|  남성|  15|사무직| 45000.0|   21000|     98|    138|      No|
|  6|  남성|  15|사무직| 32100.0|   13500|     98|     67|      No|
|  7|  남성|  15|사무직| 36000.0|   18750|     98|    114|      No|
|  8|  여성|  12|사무직| 21900.0|    9750|     98|      0|      No|
|  9|  여성|  15|사무직| 27900.0|   12750|     98|    115|      No|
| 10|  여성|  12|사무직| 24000.0|   13500|     98|    244|      No|
| 11|  여성|  16|사무직| 30300.0|   16500|     98|    143|      No|
| 12|  남성|   8|사무직| 28350.0|   12000|     98|     26|     Yes|
| 13|  남성|  15|사무직| 27750.0|   14250|     98|     34|     Yes|
| 14|  여성|  15|사무직| 35100.0|   16800|     98|    137|     Yes|
| 15|  남성|  12|사무직| 27300.0|   13500|     97|     66|      No|
| 16|  남성|  12|사무직| 40800.0|   15000|     97|     24|      No|
| 17|  남성|  15|사무직| 46000.0|   14250|     97|     48|      No|
| 18|  남성|  16|경영자|103750.0|   27510|     97|     70|      No|
| 19|  남성|  12|사무직| 42300.0|   14250|     97|    103|      No|
+---+------+----+------+--------+--------+-------+-------+--------+
only showing top 20 rows

+---+------+----+------+--------+--------+-------+-------+--------+
| id|gender|educ|jobcat|  salary|salbegin|jobtime|prevexp|minority|
+---+------+----+------+--------+--------+-------+-------+--------+
|  0|  null|null|사무직| 60000.0|    null|     95|   null|     YES|
|  1|  남성|  15|경영자| 57000.0|   27000|     98|    144|      No|
|  2|  남성|  16|사무직| 40200.0|   18750|     98|     36|      No|
|  3|  여성|  12|사무직| 21450.0|   12000|     98|    381|      No|
|  4|  여성|   8|사무직| 21900.0|   13200|     98|    190|      No|
|  5|  남성|  15|사무직| 45000.0|   21000|     98|    138|      No|
|  6|  남성|  15|사무직| 32100.0|   13500|     98|     67|      No|
|  7|  남성|  15|사무직| 36000.0|   18750|     98|    114|      No|
|  8|  여성|  12|사무직| 21900.0|    9750|     98|      0|      No|
|  9|  여성|  15|사무직| 27900.0|   12750|     98|    115|      No|
| 10|  여성|  12|사무직| 24000.0|   13500|     98|    244|      No|
| 11|  여성|  16|사무직| 30300.0|   16500|     98|    143|      No|
| 12|  남성|   8|사무직| 28350.0|   12000|     98|     26|     Yes|
| 13|  남성|  15|사무직| 27750.0|   14250|     98|     34|     Yes|
| 14|  여성|  15|사무직| 35100.0|   16800|     98|    137|     Yes|
| 15|  남성|  12|사무직| 27300.0|   13500|     97|     66|      No|
| 16|  남성|  12|사무직| 40800.0|   15000|     97|     24|      No|
| 17|  남성|  15|사무직| 46000.0|   14250|     97|     48|      No|
| 18|  남성|  16|경영자|103750.0|   27510|     97|     70|      No|
| 19|  남성|  12|사무직| 42300.0|   14250|     97|    103|      No|
+---+------+----+------+--------+--------+-------+-------+--------+
only showing top 20 rows

In [12]:
### Filling the missing values-> 특정값 대체 
스파크DF.na.fill('NA').show() ## 데이터의 값 타입이 문자 인 것만 'NA' 로 변경됨 -> 변경할 값의 타입이 문자이므로!
스파크DF.fillna('NA').show()

+----+------+----+------+-------+--------+-------+-------+--------+
|  id|gender|educ|jobcat| salary|salbegin|jobtime|prevexp|minority|
+----+------+----+------+-------+--------+-------+-------+--------+
|null|  남성|  12|    NA|   null|    null|   null|   null|      NA|
|   0|    NA|null|사무직|60000.0|    null|     95|   null|     YES|
|null|    NA|null|    NA|   null|    null|   null|   null|      NA|
|   1|  남성|  15|경영자|57000.0|   27000|     98|    144|      No|
|   2|  남성|  16|사무직|40200.0|   18750|     98|     36|      No|
|   3|  여성|  12|사무직|21450.0|   12000|     98|    381|      No|
|   4|  여성|   8|사무직|21900.0|   13200|     98|    190|      No|
|   5|  남성|  15|사무직|45000.0|   21000|     98|    138|      No|
|   6|  남성|  15|사무직|32100.0|   13500|     98|     67|      No|
|   7|  남성|  15|사무직|36000.0|   18750|     98|    114|      No|
|   8|  여성|  12|사무직|21900.0|    9750|     98|      0|      No|
|   9|  여성|  15|사무직|27900.0|   12750|     98|    115|      No|
|  10|  여성|  12|사무직|24000.0|   13500|     98|    244|      No|
|  11|  여성|  16|사무직|30300.0|   16500|     98|    143|      No|
|  12|  남성|   8|사무직|28350.0|   12000|     98|     26|     Yes|
|  13|  남성|  15|사무직|27750.0|   14250|     98|     34|     Yes|
|  14|  여성|  15|사무직|35100.0|   16800|     98|    137|     Yes|
|  15|  남성|  12|사무직|27300.0|   13500|     97|     66|      No|
|  16|  남성|  12|사무직|40800.0|   15000|     97|     24|      No|
|  17|  남성|  15|사무직|46000.0|   14250|     97|     48|      No|
+----+------+----+------+-------+--------+-------+-------+--------+
only showing top 20 rows

+----+------+----+------+-------+--------+-------+-------+--------+
|  id|gender|educ|jobcat| salary|salbegin|jobtime|prevexp|minority|
+----+------+----+------+-------+--------+-------+-------+--------+
|null|  남성|  12|    NA|   null|    null|   null|   null|      NA|
|   0|    NA|null|사무직|60000.0|    null|     95|   null|     YES|
|null|    NA|null|    NA|   null|    null|   null|   null|      NA|
|   1|  남성|  15|경영자|57000.0|   27000|     98|    144|      No|
|   2|  남성|  16|사무직|40200.0|   18750|     98|     36|      No|
|   3|  여성|  12|사무직|21450.0|   12000|     98|    381|      No|
|   4|  여성|   8|사무직|21900.0|   13200|     98|    190|      No|
|   5|  남성|  15|사무직|45000.0|   21000|     98|    138|      No|
|   6|  남성|  15|사무직|32100.0|   13500|     98|     67|      No|
|   7|  남성|  15|사무직|36000.0|   18750|     98|    114|      No|
|   8|  여성|  12|사무직|21900.0|    9750|     98|      0|      No|
|   9|  여성|  15|사무직|27900.0|   12750|     98|    115|      No|
|  10|  여성|  12|사무직|24000.0|   13500|     98|    244|      No|
|  11|  여성|  16|사무직|30300.0|   16500|     98|    143|      No|
|  12|  남성|   8|사무직|28350.0|   12000|     98|     26|     Yes|
|  13|  남성|  15|사무직|27750.0|   14250|     98|     34|     Yes|
|  14|  여성|  15|사무직|35100.0|   16800|     98|    137|     Yes|
|  15|  남성|  12|사무직|27300.0|   13500|     97|     66|      No|
|  16|  남성|  12|사무직|40800.0|   15000|     97|     24|      No|
|  17|  남성|  15|사무직|46000.0|   14250|     97|     48|      No|
+----+------+----+------+-------+--------+-------+-------+--------+
only showing top 20 rows

In [13]:
스파크DF.na.fill('NA', 'jobtime').show()
스파크DF.fillna('NA', 'jobtime').show() ## jobtime은 숫자 타입이므로 문자열인 'NA'로 대체 되지 않음!!

+----+------+----+------+-------+--------+-------+-------+--------+
|  id|gender|educ|jobcat| salary|salbegin|jobtime|prevexp|minority|
+----+------+----+------+-------+--------+-------+-------+--------+
|null|  남성|  12|  null|   null|    null|   null|   null|    null|
|   0|  null|null|사무직|60000.0|    null|     95|   null|     YES|
|null|  null|null|  null|   null|    null|   null|   null|    null|
|   1|  남성|  15|경영자|57000.0|   27000|     98|    144|      No|
|   2|  남성|  16|사무직|40200.0|   18750|     98|     36|      No|
|   3|  여성|  12|사무직|21450.0|   12000|     98|    381|      No|
|   4|  여성|   8|사무직|21900.0|   13200|     98|    190|      No|
|   5|  남성|  15|사무직|45000.0|   21000|     98|    138|      No|
|   6|  남성|  15|사무직|32100.0|   13500|     98|     67|      No|
|   7|  남성|  15|사무직|36000.0|   18750|     98|    114|      No|
|   8|  여성|  12|사무직|21900.0|    9750|     98|      0|      No|
|   9|  여성|  15|사무직|27900.0|   12750|     98|    115|      No|
|  10|  여성|  12|사무직|24000.0|   13500|     98|    244|      No|
|  11|  여성|  16|사무직|30300.0|   16500|     98|    143|      No|
|  12|  남성|   8|사무직|28350.0|   12000|     98|     26|     Yes|
|  13|  남성|  15|사무직|27750.0|   14250|     98|     34|     Yes|
|  14|  여성|  15|사무직|35100.0|   16800|     98|    137|     Yes|
|  15|  남성|  12|사무직|27300.0|   13500|     97|     66|      No|
|  16|  남성|  12|사무직|40800.0|   15000|     97|     24|      No|
|  17|  남성|  15|사무직|46000.0|   14250|     97|     48|      No|
+----+------+----+------+-------+--------+-------+-------+--------+
only showing top 20 rows

+----+------+----+------+-------+--------+-------+-------+--------+
|  id|gender|educ|jobcat| salary|salbegin|jobtime|prevexp|minority|
+----+------+----+------+-------+--------+-------+-------+--------+
|null|  남성|  12|  null|   null|    null|   null|   null|    null|
|   0|  null|null|사무직|60000.0|    null|     95|   null|     YES|
|null|  null|null|  null|   null|    null|   null|   null|    null|
|   1|  남성|  15|경영자|57000.0|   27000|     98|    144|      No|
|   2|  남성|  16|사무직|40200.0|   18750|     98|     36|      No|
|   3|  여성|  12|사무직|21450.0|   12000|     98|    381|      No|
|   4|  여성|   8|사무직|21900.0|   13200|     98|    190|      No|
|   5|  남성|  15|사무직|45000.0|   21000|     98|    138|      No|
|   6|  남성|  15|사무직|32100.0|   13500|     98|     67|      No|
|   7|  남성|  15|사무직|36000.0|   18750|     98|    114|      No|
|   8|  여성|  12|사무직|21900.0|    9750|     98|      0|      No|
|   9|  여성|  15|사무직|27900.0|   12750|     98|    115|      No|
|  10|  여성|  12|사무직|24000.0|   13500|     98|    244|      No|
|  11|  여성|  16|사무직|30300.0|   16500|     98|    143|      No|
|  12|  남성|   8|사무직|28350.0|   12000|     98|     26|     Yes|
|  13|  남성|  15|사무직|27750.0|   14250|     98|     34|     Yes|
|  14|  여성|  15|사무직|35100.0|   16800|     98|    137|     Yes|
|  15|  남성|  12|사무직|27300.0|   13500|     97|     66|      No|
|  16|  남성|  12|사무직|40800.0|   15000|     97|     24|      No|
|  17|  남성|  15|사무직|46000.0|   14250|     97|     48|      No|
+----+------+----+------+-------+--------+-------+-------+--------+
only showing top 20 rows

In [14]:
# (연구실 gender만, 집 gender, jobtime)
스파크DF.na.fill('NA', ['gender','jobtime']).show()
스파크DF.fillna('NA',['gender','jobtime']).show()

+----+------+----+------+-------+--------+-------+-------+--------+
|  id|gender|educ|jobcat| salary|salbegin|jobtime|prevexp|minority|
+----+------+----+------+-------+--------+-------+-------+--------+
|null|  남성|  12|  null|   null|    null|   null|   null|    null|
|   0|    NA|null|사무직|60000.0|    null|     95|   null|     YES|
|null|    NA|null|  null|   null|    null|   null|   null|    null|
|   1|  남성|  15|경영자|57000.0|   27000|     98|    144|      No|
|   2|  남성|  16|사무직|40200.0|   18750|     98|     36|      No|
|   3|  여성|  12|사무직|21450.0|   12000|     98|    381|      No|
|   4|  여성|   8|사무직|21900.0|   13200|     98|    190|      No|
|   5|  남성|  15|사무직|45000.0|   21000|     98|    138|      No|
|   6|  남성|  15|사무직|32100.0|   13500|     98|     67|      No|
|   7|  남성|  15|사무직|36000.0|   18750|     98|    114|      No|
|   8|  여성|  12|사무직|21900.0|    9750|     98|      0|      No|
|   9|  여성|  15|사무직|27900.0|   12750|     98|    115|      No|
|  10|  여성|  12|사무직|24000.0|   13500|     98|    244|      No|
|  11|  여성|  16|사무직|30300.0|   16500|     98|    143|      No|
|  12|  남성|   8|사무직|28350.0|   12000|     98|     26|     Yes|
|  13|  남성|  15|사무직|27750.0|   14250|     98|     34|     Yes|
|  14|  여성|  15|사무직|35100.0|   16800|     98|    137|     Yes|
|  15|  남성|  12|사무직|27300.0|   13500|     97|     66|      No|
|  16|  남성|  12|사무직|40800.0|   15000|     97|     24|      No|
|  17|  남성|  15|사무직|46000.0|   14250|     97|     48|      No|
+----+------+----+------+-------+--------+-------+-------+--------+
only showing top 20 rows

+----+------+----+------+-------+--------+-------+-------+--------+
|  id|gender|educ|jobcat| salary|salbegin|jobtime|prevexp|minority|
+----+------+----+------+-------+--------+-------+-------+--------+
|null|  남성|  12|  null|   null|    null|   null|   null|    null|
|   0|    NA|null|사무직|60000.0|    null|     95|   null|     YES|
|null|    NA|null|  null|   null|    null|   null|   null|    null|
|   1|  남성|  15|경영자|57000.0|   27000|     98|    144|      No|
|   2|  남성|  16|사무직|40200.0|   18750|     98|     36|      No|
|   3|  여성|  12|사무직|21450.0|   12000|     98|    381|      No|
|   4|  여성|   8|사무직|21900.0|   13200|     98|    190|      No|
|   5|  남성|  15|사무직|45000.0|   21000|     98|    138|      No|
|   6|  남성|  15|사무직|32100.0|   13500|     98|     67|      No|
|   7|  남성|  15|사무직|36000.0|   18750|     98|    114|      No|
|   8|  여성|  12|사무직|21900.0|    9750|     98|      0|      No|
|   9|  여성|  15|사무직|27900.0|   12750|     98|    115|      No|
|  10|  여성|  12|사무직|24000.0|   13500|     98|    244|      No|
|  11|  여성|  16|사무직|30300.0|   16500|     98|    143|      No|
|  12|  남성|   8|사무직|28350.0|   12000|     98|     26|     Yes|
|  13|  남성|  15|사무직|27750.0|   14250|     98|     34|     Yes|
|  14|  여성|  15|사무직|35100.0|   16800|     98|    137|     Yes|
|  15|  남성|  12|사무직|27300.0|   13500|     97|     66|      No|
|  16|  남성|  12|사무직|40800.0|   15000|     97|     24|      No|
|  17|  남성|  15|사무직|46000.0|   14250|     97|     48|      No|
+----+------+----+------+-------+--------+-------+-------+--------+
only showing top 20 rows

#### 결측값을 통계값으로 대체

In [15]:
### 수치자료 대체
from pyspark.ml.feature import Imputer # 대체하는 imputer 값을 가져옴

In [16]:
대체 = Imputer(
     inputCols=['educ', 'salary'], # inputCols: 대체할 칼럼 -> 각 칼럼의 평균으로 결측값을 대체할 것임 
     outputCols=["{}_imputed".format(c) for c in ['educ', 'salary']]#시험에 나오진 않음 
     ).setStrategy("mean")## 두개의 칼럼을 새로 만들고 결측값을 "평균"값으로 대체함

In [17]:
### Add imputation columns to dataframe
대체.fit(스파크DF).transform(스파크DF).show()## fit():평균을 계산하는 과정, transform():계산한 값으로 대체하는 과정 !(데이터가 반드시 같을 필요는 없음)

+----+------+----+------+-------+--------+-------+-------+--------+------------+-----------------+
|  id|gender|educ|jobcat| salary|salbegin|jobtime|prevexp|minority|educ_imputed|   salary_imputed|
+----+------+----+------+-------+--------+-------+-------+--------+------------+-----------------+
|null|  남성|  12|  null|   null|    null|   null|   null|    null|          12|34473.42105263158|
|   0|  null|null|사무직|60000.0|    null|     95|   null|     YES|          13|          60000.0|
|null|  null|null|  null|   null|    null|   null|   null|    null|          13|34473.42105263158|
|   1|  남성|  15|경영자|57000.0|   27000|     98|    144|      No|          15|          57000.0|
|   2|  남성|  16|사무직|40200.0|   18750|     98|     36|      No|          16|          40200.0|
|   3|  여성|  12|사무직|21450.0|   12000|     98|    381|      No|          12|          21450.0|
|   4|  여성|   8|사무직|21900.0|   13200|     98|    190|      No|           8|          21900.0|
|   5|  남성|  15|사무직|45000.0|   21000|     98|    138|      No|          15|          45000.0|
|   6|  남성|  15|사무직|32100.0|   13500|     98|     67|      No|          15|          32100.0|
|   7|  남성|  15|사무직|36000.0|   18750|     98|    114|      No|          15|          36000.0|
|   8|  여성|  12|사무직|21900.0|    9750|     98|      0|      No|          12|          21900.0|
|   9|  여성|  15|사무직|27900.0|   12750|     98|    115|      No|          15|          27900.0|
|  10|  여성|  12|사무직|24000.0|   13500|     98|    244|      No|          12|          24000.0|
|  11|  여성|  16|사무직|30300.0|   16500|     98|    143|      No|          16|          30300.0|
|  12|  남성|   8|사무직|28350.0|   12000|     98|     26|     Yes|           8|          28350.0|
|  13|  남성|  15|사무직|27750.0|   14250|     98|     34|     Yes|          15|          27750.0|
|  14|  여성|  15|사무직|35100.0|   16800|     98|    137|     Yes|          15|          35100.0|
|  15|  남성|  12|사무직|27300.0|   13500|     97|     66|      No|          12|          27300.0|
|  16|  남성|  12|사무직|40800.0|   15000|     97|     24|      No|          12|          40800.0|
|  17|  남성|  15|사무직|46000.0|   14250|     97|     48|      No|          15|          46000.0|
+----+------+----+------+-------+--------+-------+-------+--------+------------+-----------------+
only showing top 20 rows

In [19]:
대체 = Imputer(
     inputCols=['educ', 'salary'],
     outputCols=["{}_imputed".format(c) for c in ['educ', 'salary']]
     ).setStrategy("mode")##mode:최빈값을 계산함
대체.fit(스파크DF).transform(스파크DF).show()

+----+------+----+------+-------+--------+-------+-------+--------+------------+--------------+
|  id|gender|educ|jobcat| salary|salbegin|jobtime|prevexp|minority|educ_imputed|salary_imputed|
+----+------+----+------+-------+--------+-------+-------+--------+------------+--------------+
|null|  남성|  12|  null|   null|    null|   null|   null|    null|          12|       30750.0|
|   0|  null|null|사무직|60000.0|    null|     95|   null|     YES|          12|       60000.0|
|null|  null|null|  null|   null|    null|   null|   null|    null|          12|       30750.0|
|   1|  남성|  15|경영자|57000.0|   27000|     98|    144|      No|          15|       57000.0|
|   2|  남성|  16|사무직|40200.0|   18750|     98|     36|      No|          16|       40200.0|
|   3|  여성|  12|사무직|21450.0|   12000|     98|    381|      No|          12|       21450.0|
|   4|  여성|   8|사무직|21900.0|   13200|     98|    190|      No|           8|       21900.0|
|   5|  남성|  15|사무직|45000.0|   21000|     98|    138|      No|          15|       45000.0|
|   6|  남성|  15|사무직|32100.0|   13500|     98|     67|      No|          15|       32100.0|
|   7|  남성|  15|사무직|36000.0|   18750|     98|    114|      No|          15|       36000.0|
|   8|  여성|  12|사무직|21900.0|    9750|     98|      0|      No|          12|       21900.0|
|   9|  여성|  15|사무직|27900.0|   12750|     98|    115|      No|          15|       27900.0|
|  10|  여성|  12|사무직|24000.0|   13500|     98|    244|      No|          12|       24000.0|
|  11|  여성|  16|사무직|30300.0|   16500|     98|    143|      No|          16|       30300.0|
|  12|  남성|   8|사무직|28350.0|   12000|     98|     26|     Yes|           8|       28350.0|
|  13|  남성|  15|사무직|27750.0|   14250|     98|     34|     Yes|          15|       27750.0|
|  14|  여성|  15|사무직|35100.0|   16800|     98|    137|     Yes|          15|       35100.0|
|  15|  남성|  12|사무직|27300.0|   13500|     97|     66|      No|          12|       27300.0|
|  16|  남성|  12|사무직|40800.0|   15000|     97|     24|      No|          12|       40800.0|
|  17|  남성|  15|사무직|46000.0|   14250|     97|     48|      No|          15|       46000.0|
+----+------+----+------+-------+--------+-------+-------+--------+------------+--------------+
only showing top 20 rows

In [17]:
스파크DF.dtypes ## 각 칼럼의 타입값을 나열함 -> 숫자인 데이터로 결측값 대체하기 위해서

[('id', 'int'),
 ('gender', 'string'),
 ('educ', 'int'),
 ('jobcat', 'string'),
 ('salary', 'double'),
 ('salbegin', 'int'),
 ('jobtime', 'int'),
 ('prevexp', 'int'),
 ('minority', 'string')]

In [20]:
from pyspark.sql.types import StringType
수치변수 = [변수.name for 변수 in 스파크DF.schema.fields if not isinstance(변수.dataType, StringType)]
수치변수
##for 변수 in 스파크DF.schema.fields  : 스파크DF에서 칼럼들을 가져와서 "변수" 값에 대입함
## 저장한 변수의 타입이 문자열이 아니라면, 해당 변수의 name을 "수치변수" 값에 대입함
##

['id', 'educ', 'salary', 'salbegin', 'jobtime', 'prevexp']

In [21]:
스파크DF[수치변수].show() ## 수치변수에 대해서만 보여주고 있음

+----+----+-------+--------+-------+-------+
|  id|educ| salary|salbegin|jobtime|prevexp|
+----+----+-------+--------+-------+-------+
|null|  12|   null|    null|   null|   null|
|   0|null|60000.0|    null|     95|   null|
|null|null|   null|    null|   null|   null|
|   1|  15|57000.0|   27000|     98|    144|
|   2|  16|40200.0|   18750|     98|     36|
|   3|  12|21450.0|   12000|     98|    381|
|   4|   8|21900.0|   13200|     98|    190|
|   5|  15|45000.0|   21000|     98|    138|
|   6|  15|32100.0|   13500|     98|     67|
|   7|  15|36000.0|   18750|     98|    114|
|   8|  12|21900.0|    9750|     98|      0|
|   9|  15|27900.0|   12750|     98|    115|
|  10|  12|24000.0|   13500|     98|    244|
|  11|  16|30300.0|   16500|     98|    143|
|  12|   8|28350.0|   12000|     98|     26|
|  13|  15|27750.0|   14250|     98|     34|
|  14|  15|35100.0|   16800|     98|    137|
|  15|  12|27300.0|   13500|     97|     66|
|  16|  12|40800.0|   15000|     97|     24|
|  17|  15|46000.0|   14250|     97|     48|
+----+----+-------+--------+-------+-------+
only showing top 20 rows

In [22]:
대체 = Imputer(inputCols=수치변수, outputCols=수치변수).setStrategy("mean")
대체.fit(스파크DF).transform(스파크DF).show()## 원래의 스파크DF에 수치변수를 하나씩 대입하여 계산한 후, 변환하여 보여주고있음

+---+------+----+------+-----------------+--------+-------+-------+--------+
| id|gender|educ|jobcat|           salary|salbegin|jobtime|prevexp|minority|
+---+------+----+------+-----------------+--------+-------+-------+--------+
|237|  남성|  12|  null|34473.42105263158|   17016|     81|     95|    null|
|  0|  null|  13|사무직|          60000.0|   17016|     95|     95|     YES|
|237|  null|  13|  null|34473.42105263158|   17016|     81|     95|    null|
|  1|  남성|  15|경영자|          57000.0|   27000|     98|    144|      No|
|  2|  남성|  16|사무직|          40200.0|   18750|     98|     36|      No|
|  3|  여성|  12|사무직|          21450.0|   12000|     98|    381|      No|
|  4|  여성|   8|사무직|          21900.0|   13200|     98|    190|      No|
|  5|  남성|  15|사무직|          45000.0|   21000|     98|    138|      No|
|  6|  남성|  15|사무직|          32100.0|   13500|     98|     67|      No|
|  7|  남성|  15|사무직|          36000.0|   18750|     98|    114|      No|
|  8|  여성|  12|사무직|          21900.0|    9750|     98|      0|      No|
|  9|  여성|  15|사무직|          27900.0|   12750|     98|    115|      No|
| 10|  여성|  12|사무직|          24000.0|   13500|     98|    244|      No|
| 11|  여성|  16|사무직|          30300.0|   16500|     98|    143|      No|
| 12|  남성|   8|사무직|          28350.0|   12000|     98|     26|     Yes|
| 13|  남성|  15|사무직|          27750.0|   14250|     98|     34|     Yes|
| 14|  여성|  15|사무직|          35100.0|   16800|     98|    137|     Yes|
| 15|  남성|  12|사무직|          27300.0|   13500|     97|     66|      No|
| 16|  남성|  12|사무직|          40800.0|   15000|     97|     24|      No|
| 17|  남성|  15|사무직|          46000.0|   14250|     97|     48|      No|
+---+------+----+------+-----------------+--------+-------+-------+--------+
only showing top 20 rows